<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>Город
    {% for w in weather_data %}
        {{ w.city }}
    {% endfor %}


</div>
<div>
    Время
        {% for w in weather_data %}
        {{ w.time }}
    {% endfor %}
</div>
<div>
    Долгота
        {% for w in weather_data %}
        {{ w.longitude }}
    {% endfor %}
</div>
<div>
    Широта
    {% for w in weather_data %}
        {{ w.latitude }}
    {% endfor %}
</div>
<div>
    Температура
    {% for w in weather_data %}
        {{ w.temperature }}
    {% endfor %}
</div>


</body>
</html>